In [ ]:
def max_even_seq(n):
    num=str(num)

In [ ]:
max_div_seq(116, 1)